@model CarRental.Models.ViewModels.RegisterBookingVM

@*@{
    ViewData["Title"] = "Register";
}*@

<h1>Book a car</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientSSN" class="control-label"></label>
                <input asp-for="ClientSSN" id="SSN" onblur="checkIfSSNExists()" class="form-control" /><div id="SSNMessage"></div>
                <span asp-validation-for="ClientSSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" id="firstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" id="lastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarType" class="control-label"></label>
                <select asp-for="CarType" id="CarType" value="Select car" onchange="setValues()" class="form-control" asp-items="@(new SelectList(ViewBag.AvailableCars, "CarType", "CarType"))"><option hidden disabled selected value="">Select Car</option></select>
                <span asp-validation-for="CarType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfBooking" class="control-label"></label>
                <input asp-for="TimeOfBooking" type="datetime-local" class="form-control" />
                <span asp-validation-for="TimeOfBooking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarLicenseNumber" class="control-label"></label>
                <input asp-for="CarLicenseNumber" readonly="readonly" id="CarLicenseNumber" class="form-control" />
                <span asp-validation-for="CarLicenseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentMileage" class="control-label"></label>
                <input asp-for="CurrentMileage" readonly="readonly" id="CurrentMileage" class="form-control" />
                <span asp-validation-for="CurrentMileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div class="container-table">
    <div id="divAvailableCars">
    </div>
</div>*@




<script>

    function setValues() {
        var no = document.getElementById("CarType");

        var index = no.selectedIndex -1
        console.log(index)

        var cars = JSON.parse('@Html.Raw(Json.Serialize(ViewData["AvailableCars"]))');
            console.log(cars);

        var currentMileage = cars[index].currentMileage;
        var carLicenseNumber = cars[index].carLicenseNumber;

        document.getElementById("CurrentMileage").value = currentMileage;
        document.getElementById("CarLicenseNumber").value = carLicenseNumber;
    }

    function checkIfSSNExists() {
        console.log("running ajax call")
        //Get ID from textbox
        var id = $("#SSN").val();
        console.log(id);

        // Make AJAX call
        var url = "/booking/SSN/" + id;
        console.log(url);
        $.ajax({
            url: url,
            type: "GET",
            success: function (result) {
                if (result != null) {
                    console.log(result.firstName)
                    document.getElementById("firstName").value = result.firstName;
                    document.getElementById("lastName").value = result.lastName;
                    $('#firstName').attr('readonly', 'true');
                    $('#lastName').attr('readonly', 'true');
                    $("#SSNMessage").html("<p>" + "ClientSSN exists" + "</p>");
                }
                else if (result === null) {
                    console.log("result is null")
                    document.getElementById("firstName").value = "";
                    document.getElementById("lastName").value = "";
                    $('#firstName').prop("readonly", false);
                    $('#lastName').prop("readonly", false);
                    $("#SSNMessage").html("");
                }                
            },
        });
        console.log("done");
    }
</script>


