@model CarRental.Models.ViewModels.RegisterReturnVM

@{
    ViewData["Title"] = "Return";
}

<h1>Return</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Return" asp-route-id="@Model.BookingNumber">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookingNumber" class="control-label"></label>
                <input asp-for="BookingNumber" readonly="readonly" class="form-control" />
                <span asp-validation-for="BookingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfReturn" class="control-label"></label>
                <input asp-for="TimeOfReturn" type="datetime-local" class="form-control" />
                <span asp-validation-for="TimeOfReturn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistanceCovered" class="control-label"></label>
                <input asp-for="DistanceCovered" class="form-control" />
                <span asp-validation-for="DistanceCovered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetBookings">Back to all bookings</a>
</div>

